*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $os;
  font-size: $text;
  color: $black;
  background-color: $white;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

section h2 {
  margin: 0;
  font-family: $kurale;
  font-weight: normal;
  font-size: 42px;
  line-height: 114%;
  text-align: center;
  text-transform: uppercase;

  &::after {
    @include line;
  }
}

section p {
  margin: 0;
  font-size: 18px;
  line-height: 175%;

  &:not(:last-child) {
    margin-bottom: 26px;
  }
}

.intro {
  font-weight: 700;
}

.wrapper {
  max-width: $wrap;
  margin: $mc;
}

.container {
  max-width: $container;
  margin: $mc;
  padding: 0 15px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.circle {
  position: absolute;
  top: 50%;
  width: 250px;
  height: 250px;
  border: 20px solid $yellow;
  border-radius: 50%;
  filter: drop-shadow(0 0 100px $black-opacity);
}
